:root {
    --color-grey: #1f1f1f;
    --color-black: #212121;
    --color-black-heavy: #000000;
    --color-text: #ffffff;
    --color-text-out: #90908e;
    --color-primary: #00b58c;
    --color-secondary: #161417;
    --color-white: #ffffff;
    --color-shadow: #181818;
}
body {
    background-color: var(--color-secondary);
}
.login {
    padding-left: 1100px;
    padding-top: 300px;
    text-align: center;
    position: absolute;
}
.quadrado-login {
    border-radius: 25px;
    background-color: var(--color-grey);
    width: 700px;
    height: 300px;
    align-items: center;
}
.buttons {
    display: flex;
    padding-left: 160px;
    padding-top: 125px;
    border: none;
}
.button-subscribe :hover{
    box-shadow: 6px 6px 10px var(--color-primary), -6px -6px 10px var(--color-primary);
    transform: scale(0.985);
    transition: 0.25s;
}
.button-subscribe {
    background-color: var(--color-primary);
    width: 180px;
    height: 50px;
    border-radius: 25px;
    color: var(--color-text);
    border: none;
    outline: none;
    text-align: center;
}
.sobre-nos {
    padding-left: 20px;
}
.button-sobrenos {
    background-color: var(--color-primary);
    width: 180px;
    height: 50px;
    border-radius: 25px;
    color: var(--color-text);
    border: none;
    outline: none;
    text-align: center;
}
.image {
    align-items: center;
    margin-left: 190px;
    padding-top: 100px
}
.imagem-educ {
    width: 700px;
    height: 700px;
}