:root {
    --color-grey: #1f1f1f;
    --color-black: #212121;
    --color-black-heavy: #000000;
    --color-text: #ffffff;
    --color-text-out: #90908e;
    --color-primary: #00b58c;
    --color-secondary: #161417;
    --color-white: #ffffff;
    --color-shadow: #181818;
}
body {
    background-color: var(--color-secondary);
    width: 95%;
}
a.navbar-brand {
    margin-left: -25px;
}
.nav-link {
    color: var(--color-black)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
    text-align: center;
    padding-top: 12px;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
}
.iten-menu.active, .iten-menu:hover{
    background-color: var(--color-primary);
    transform: scale(0.985);
    transition: 0.25s;
}
.iten-menu {
    background-color: var(--color-white);
    width: 180px;
    height: 50px;
    border-radius: 20px;
    color: var(--color-black);
    border: none;
    outline: none;
    text-align: center;
}
b {
    color: var(--color-black);
}
h2 {
    color: var(--color-primary);
}
.letra {
    color: var(--color-primary) !important;
}
.letra1 {
    color: var(--color-text) !important;
}
.text {
    color: var(--color-text);
    padding-left: 75px;
    padding-top: 120px;
    text-align: center;
}
.img-team {
    width: 650px;
}
.team {
    padding-left: 250px;
    width: 900px;
    height: 500px;
    border-radius: 10px;
}
.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: var(--color-primary);
    position: absolute;
    right: 0;
    top: -80px;
}
.img-banner img {
    border-radius: 10px;
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}
.card {
    border-radius: 20px;
    padding: 15px 50px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)!important;
    border: none!important;
}
.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -200px;
    right: -120px;
}
.case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}
.text-banner {
    color: var(--color-text);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}
.text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
}
.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.card-item {
    height: 400px;
}
.card-item .img-produto img {
    width: 100%;
    border-radius: 11px;
}
.integra {
    padding-top: 350px;
    align-items: center;
    display: flex;
}
.geral {
    padding-left: 450px;
    display: flex;
}
.integra1 {
    padding-top: 100px;
    padding-bottom: 150px;
    align-items: center;
    display: flex;
}